
<ul class="nav justify-content-center pt-1 pb-1 " style="background-color: #CC0A60">
  <li class="nav-item">
    <a class="navbar-brand ml-6 mr-1" href="{% url 'Homelink'%}"><img src="https://upload.wikimedia.org/wikipedia/tr/2/24/Ibb_amblem.png" style="width: 58px;"></a>
  </li>
  <li class="nav-item mt-1  mr-1 ">
    <a class="nav-item nav-link" href="{% url 'Metrolarlink'%}">Metrolar</a>
  </li>
  <li class="nav-item mt-1  mr-1">
    <a class="nav-item nav-link" href="{% url 'Hastanelerlink'%}">Hastaneler</a>
  </li>
  
</ul>
